html {
  background: #F5F5F5;
  font-family: "Chivo", sans-serif;
  box-sizing: border-box;
}
html :focus {
  outline: 0;
}

* {
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: inherit;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.button:disabled {
  cursor: default;
}

.header {
  display: flex;
  border-bottom: 1px solid #DADADA;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  text-align: left;
}
@media (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.header h1 {
  font-weight: bold;
  font-size: calc(26pt + 1vw);
}
@media (max-width: 768px) {
  .header h1 {
    margin-bottom: 12px;
  }
}

.cartImg {
  width: 17px;
  height: 13.54px;
  margin-right: 8px;
}

.cartLink:hover {
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(41%) sepia(91%) saturate(328%) hue-rotate(170deg) brightness(94%) contrast(100%);
}

.cartLinkContainer {
  font-size: 14px;
  display: flex;
  align-items: left;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .cartLinkContainer {
    align-items: center;
    justify-content: center;
    margin-bottom: inherit;
  }
}

.productItem {
  background-color: white;
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .productItem {
    margin-bottom: 28px;
  }
}

.productContent {
  position: relative;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .productContent {
    flex-direction: row;
  }
}
.productContent .infoWrapper {
  padding: 28px;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
}
@media (min-width: 768px) {
  .productContent .infoWrapper {
    padding: 3.75%;
  }
}
.productContent .productDescription {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.productContent .productName {
  position: relative;
  top: 0px;
  font-size: calc(20px + 1vw);
  margin-right: 12%;
}
@media (min-width: 768px) {
  .productContent .productName {
    margin-right: 28%;
  }
}
@media (min-width: 1280px) {
  .productContent .productName {
    margin-right: 40%;
  }
}
.productContent .productPrice {
  font-size: 16px;
  font-weight: lighter;
}
@media (min-width: 768px) {
  .productContent .productPrice {
    font-size: 21px;
  }
}
.productContent .productInventory {
  text-transform: uppercase;
  color: #9B9B9B;
  font-size: 12px;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .productContent .productInventory {
    margin-bottom: 64px;
  }
}
.productContent .btnContainer {
  position: relative;
}
@media (min-width: 768px) {
  .productContent .btnContainer {
    position: absolute;
    bottom: 32px;
  }
}
.productContent .imageWrapper {
  margin-bottom: -10px;
}
@media (min-width: 768px) {
  .productContent .imageWrapper {
    max-width: 40%;
    max-height: 282px;
  }
}
.productContent img {
  max-width: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .productContent {
    flex-direction: row;
  }
}
.itemList {
  margin-bottom: 30px;
}

.button {
  background-color: #5E97D1;
  text-transform: uppercase;
  font-size: 14px;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 10000px;
  cursor: pointer;
}
.button:hover {
  background-color: #407FC0;
}
.button[disabled] {
  background-color: #5E97D1;
  opacity: 0.3;
}

.mainContainer {
  min-width: 320px;
  max-width: 1280px;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .mainContainer {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (min-width: 1280px) {
  .mainContainer {
    padding-left: 80px;
    padding-right: 80px;
  }
}

/*# sourceMappingURL=ProductsList.css.map */
